h1 {
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

h1, h2, h3 {
	margin-bottom: 10px;
}

p,
span,
a {
    font-size: 14px;
    line-height: 18px;
}

a {
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.btn {
    min-width: 170px;
    border-radius: 50px;
    color: $white;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0;
    padding: 6px 10px;
    transition: 0.2s;
    cursor: pointer;
    &.btn__small {
        font-size: 10px;
        min-width: 78px;
    }
    &.btn__large {
        padding: 14px 10px;
        font-size: 16px;
        line-height: 20px;
    }
    &.btn__purple {
      background-color: $purple;
      &:hover,
      &:active {
        background-color: rgba($purple, 0.6);
      }
    }
    &.btn__orange {
      background-color: $orange;
      &:hover,
      &:active {
        background-color: rgba($orange, 0.6);
      }
    }
    &.btn__red {
        background-color: $red;
        &:hover,
        &:active {
          background-color: rgba($red, 0.6);
        }
    }
    &.btn__green {
        background-color: $green;
        &:hover,
        &:active {
            background-color: rgba($green, 0.6);
        }
    }
}

a.btn {
    text-decoration: none;
    cursor: pointer;
    &.btn__large {
    padding: 14px 50px;
    }
}