h1 {
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3, h4 {
    font-size: 16px;
    font-weight: 600;
}


h5, h6 {
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-size: inherit !important;
}

p,
span,
a {
    font-size: 16px;
    line-height: 18px;
    font-family: $font-primary !important;
}

span p {
    font-size: 16px !important;
}

a {
    &:hover,
    &:active {
        text-decoration: none;
    }
}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}

td {
    padding: 10px;
    border: 1px solid $purple-light;
}

.link {
    border: 0;
    text-decoration: underline;
    color: $main;
    background: transparent;
    &:hover{
        text-decoration: none;
    }
}

.btn {
    min-width: 170px;
    border-radius: 50px;
    color: $white;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0;
    padding: 6px 10px;
    transition: 0.2s;
    cursor: pointer;
    &.btn__small {
        font-size: 10px;
        min-width: 78px;
    }
    &.btn__large {
        padding: 14px 10px;
        font-size: 16px;
        line-height: 20px;
    }
    &.btn__purple {
      background-color: $main;
      &:hover,
      &:active {
        background-color: rgba($main, 0.6);
      }
    }
    &.btn__orange {
      background-color: $orange;
      &:hover,
      &:active {
        background-color: rgba($orange, 0.6);
      }
    }
    &.btn__red {
        background-color: $red;
        &:hover,
        &:active {
          background-color: rgba($red, 0.6);
        }
    }
    &.btn__green {
        background-color: $green;
        &:hover,
        &:active {
            background-color: rgba($green, 0.6);
        }
    }
    &.btn__close {
        color: $gray;
        min-width: 0;
        background-color: transparent;
        height: 20px;
        &::before,
        &::after {
            position: absolute;
            left: 9px;
            top: 0;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: $gray-dark;
            @include breakpoint(vtab) {
                height: 15px;
            }
        }
        &:before {
            transform: rotate(45deg);
          }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &[disabled] {
        background-color: $gray;
        &:hover,
        &:active {
            background-color: $gray;
        }
    }
}

a.btn {
    text-decoration: none;
    cursor: pointer;
    &.btn__large {
    padding: 14px 50px;
    }
}