// Palette
$white: #fff;
$black: #000;
$gray: #747B95;/*unused*/
$yellow: #FCE160;/*unused*/
$green: #0C8041;/*unused*/
$purple: #222c3c;
$red: #EB203D;
$blue: #0061A5;

// App colors
$color-primary: $purple;
$color-secondary: $blue;
$font-color: #222;

// Specific colors
$selection-gray: #b3d4fc;
$fieldset-gray: #c0c0c0;
$chromeframe-gray: #ccc;
