// Palette
$white: #fff;
$black: #000;
$purple: #6855df;
$purple-light: #c7cbe1;
$purple-lighter: #e6e9f9;
$gray-dark: #333;
$gray: #939393;
$red: #fe5722;
$salmon: #ffccbb;
$green: #4cb050;
$green-light: #e8f9e9;
$orange: #ffa428;

